

<div class="position-relative  hero-gradient hero-height" >


   <div class="w-100 h-100 position-absolute top-0 start-0 overflow-hidden" style="z-index: 0;">
   <div class="ratio ratio-16x9 position-absolute hero-banner-blur" >
    <ng-container *ngIf="trailerUrl; else poster">
      <iframe [src]="trailerUrl" allowfullscreen #trailerPlayer id="trailerPlayer" muted autoplay (ended)="playNextTrailer()"></iframe>
    </ng-container>
    <ng-template #poster>
      <img *ngIf="posterUrl" [src]="posterUrl" class="w-100 h-100 object-fit-cover" alt="Movie Poster">
    </ng-template>
  </div>
  </div>


 <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-between text-white px-4 py-3" style="z-index: 2;">



<div class="mt-auto mb-3 ms-4 movie-overlay">
  <h2 class="fw-bold card-title">{{ featuredMovie?.title }}</h2>
  <p class="mb-1 small">
    {{ featuredMovie?.release_date | date:'yyyy' }} &bull; ⭐ {{ featuredMovie?.vote_average }} &bull;
    {{ featuredMovie?.original_language?.toUpperCase() }}
  </p>
  <p class="small">{{ featuredMovie?.overview }}</p>

 <button *ngIf="trailerUrl"
    class="btn btn-lg px-4 py-2 rounded-pill text-white trailler-btn"
    (click)="goToDetails(featuredMovie?.id)">
    🎬 Watch Now
  </button>
</div>

  </div>
</div>

<div class="container-fluid bg-dark text-white px-4 py-4">
  <h4 class="mb-3 fw-bold">🔥 Trending Now</h4>
  <div class="d-flex overflow-x-scroll hide-scrollbar gap-4 p-4">

        <ng-container *ngFor="let movie of trendingMovies; let i = index">
   <div
  class="position-relative trending-card min-width-card card bg-black text-white border-0 rounded-4"

  (click)="goToDetails(movie.id)"
>

  <div class="position-absolute top-0 end-0 p-2 z-3">
    <button
      class="btn btn-sm bg-transparent border-0 shadow-none"
      (click)="toggleWatchlist(movie); $event.stopPropagation()"
      title="Toggle Watchlist"
    >
      <span style="font-size: 1.3rem;">
        {{ isInWatchlist(movie.id) ? '❤️' : '🤍' }}
      </span>
    </button>
  </div>


  <img
    [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
    class="card-img-top rounded-4"
    alt="{{ movie.title }}"
  />


  <div class="position-absolute top-0 start-0 badge-index">{{ i + 1 }}</div>


  <div class="card-img-overlay d-flex flex-column justify-content-end p-2 info-overlay">
    <h6 class="card-title text-white mb-1 text-truncate">{{ movie.title }}</h6>
    <small class="text-white-50">{{ movie.release_date | date: 'yyyy' }} • ⭐ {{ movie.vote_average }}</small>
  </div>
</div>

    </ng-container>
  </div>


   <h4 class="mb-3 fw-bold">🌟 Popular</h4>
  <div class="d-flex overflow-x-scroll hide-scrollbar gap-4 p-4">
    <ng-container *ngFor="let movie of popularMovies; let i = index">
   <div
  class="position-relative min-width-card trending-card card bg-black text-white border-0 rounded-4"

  (click)="goToDetails(movie.id)"
>

  <div class="position-absolute top-0 end-0 p-2 z-3">
    <button
      class="btn btn-sm bg-transparent border-0 shadow-none"
      (click)="toggleWatchlist(movie); $event.stopPropagation()"
      title="Toggle Watchlist"
    >
      <span style="font-size: 1.3rem;">
        {{ isInWatchlist(movie.id) ? '❤️' : '🤍' }}
      </span>
    </button>
  </div>


  <img
    [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
    class="card-img-top rounded-4"
    alt="{{ movie.title }}"
  />


  <div class="position-absolute top-0 start-0 badge-index">{{ i + 1 }}</div>


  <div class="card-img-overlay d-flex flex-column justify-content-end p-2 info-overlay">
    <h6 class="card-title text-white mb-1 text-truncate">{{ movie.title }}</h6>
    <small class="text-white-50">{{ movie.release_date | date: 'yyyy' }} • ⭐ {{ movie.vote_average }}</small>
  </div>
</div>

    </ng-container>
  </div>


  <h4 class="mb-3 fw-bold">📈 Top Rated</h4>
  <div class="d-flex overflow-x-scroll hide-scrollbar gap-4 p-4">

      <ng-container *ngFor="let movie of topRatedMovies; let i = index">
   <div
  class="position-relative trending-card min-width-card card bg-black text-white border-0 rounded-4"

  (click)="goToDetails(movie.id)"
>

  <div class="position-absolute top-0 end-0 p-2 z-3">
    <button
      class="btn btn-sm bg-transparent border-0 shadow-none"
      (click)="toggleWatchlist(movie); $event.stopPropagation()"
      title="Toggle Watchlist"
    >
      <span style="font-size: 1.3rem;">
        {{ isInWatchlist(movie.id) ? '❤️' : '🤍' }}
      </span>
    </button>
  </div>


  <img
    [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
    class="card-img-top rounded-4"
    alt="{{ movie.title }}"
  />


  <div class="position-absolute top-0 start-0 badge-index">{{ i + 1 }}</div>


  <div class="card-img-overlay d-flex flex-column justify-content-end p-2 info-overlay">
    <h6 class="card-title text-white mb-1 text-truncate">{{ movie.title }}</h6>
    <small class="text-white-50">{{ movie.release_date | date: 'yyyy' }} • ⭐ {{ movie.vote_average }}</small>
  </div>
</div>

    </ng-container>
  </div>
</div>





