/* You can add global styles to this file, and also import other style files */
.card-img-overlay.info-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  border-radius: 0 0 1rem 1rem;
  padding-top: 3rem;
}

.badge-index {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  padding-left: 0.5rem;
  line-height: 1;
  z-index: 2;
}

.trending-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  position: relative;

}



.trending-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.trending-card:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}

.trending-card:hover::before {
  opacity: 1;
}




.hide-scrollbar {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
